.spinner {
    width: 25px;
    height: 25px;
    border: 4px solid #ffffff00;
    border-top-color: #ffffff;
    border-radius: 100%;
    animation: spin 0.7s linear infinite;
    z-index: 1000;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
