.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 25px;
    position: absolute;
    width: max-content;
    min-height: 300px;
    height: max-content;
    min-width: 350px;
    background-color: white;
    box-shadow: 0px 0px 20px 1px rgb(34, 34, 34);
    z-index: 10;
}

.parent h2 {
    font-weight: 900;
    color: var(--main-purble);
    font-size: 20pt;
    margin-bottom: 10px;
}

.title {
    max-width: max-content;
}

.description {
    position: relative;
    width: 100%;
    min-height: 200px;
    border: 1px solid var(--main-purble);
    border-radius: 10px;
}

.description .icon {
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 10;
    cursor: pointer;
}

.description .icon:hover {
    background-color: #cecee7;
}

.textarea {
    background-color: transparent;
    font-size: 13pt;
    width: 100%;
    min-height: 200px;
    padding: 20px;
    outline: none;
    resize: none;
    border: none;
}

.emoji_picker {
    height: 100px;
}

.date_category {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date_category .button {
    height: 50px;
    width: 45%;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid var(--main-purble);
    display: flex;
    justify-content: center;
    align-items: center;
}

.date_category .button input[type="date"] {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--main-purble);
    font-size: 13pt;
}

.date_category .button select {
    height: 100%;
    font-weight: 700;
    color: var(--main-purble);
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}



.date_category .button button {
    font-weight: 700;
    color: var(--main-purble);
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}

.date_category .button:hover {
    background-color: #b9b9ea;
}

.cancel_save {
    margin-top: 30px;
    max-width: max-content;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.cancel_save button {
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.cancel_save .save {
    cursor: pointer;
    background-color: var(--main-purble);
    color: white;
    font-weight: 900;
}

.cancel_save .cancel {
    border: 1px solid var(--main-purble);
    cursor: pointer;
    background-color: white;
    color: var(--main-purble);
    font-weight: 900;
}

.overlay {
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.335);
    z-index: 11;
}
