.parent {
    position: relative;
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    height: 70%;
    border-radius: 25px;
}

.wrapper {
    width: 90%;
}

.parent .no_tasks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15pt;
    color: rgb(31, 34, 221);
}

.parent::-webkit-scrollbar {
    background-color: transparent;
}

.parent::-webkit-scrollbar-thumb {
    background-color: #7376d6;
    border-radius: 25px;
}

