.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: var(--light-gray);
}

.header {
    width: 100%;
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 10px 0px rgb(200, 200, 200);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
}

.welcome h1 {
    font-weight: 900;
    color: var(--main-purble);
    text-transform: uppercase;
}

.navbar {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
}

.navbar:hover {
    background-color: var(--light-gray);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.tasks_div {
    height: 80vh;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--main-purble);
    border-radius: 25px;
}

.tasks_div .left {
    overflow-y: scroll;
    padding: 20px;
    border-right: 1px solid rgb(134, 132, 132);
    width: 30%;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.tasks_div .left h3 {
    color: white;
    font-weight: 700;
    margin: 10px 0 30px 0;
}

.tasks_div .left::-webkit-scrollbar {
    background-color: transparent;
}

.tasks_div .left::-webkit-scrollbar-thumb {
    background-color: #7376d6;
    border-radius: 25px;
}

.tasks_div .right {
    position: relative;
    padding: 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 70%;
    height: 100%;
}

.tasks_div .right .right_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasks_div .right .right_header .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks_div .right .right_header .search {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tasks_div .right .right_header .search .icon {
    padding: 5px;
    border-radius: 50%;
}

.tasks_div .right .right_header .search input {
    width: 100%;
    color: white;
    padding: 13px;
    font-size: 15pt;
    border-radius: 25px;
    outline: none;
    border: none;
    margin-right: 10px;
    background-color: #494db2;
}

.tasks_div .right .right_header .search input::placeholder {
    color: rgb(201, 196, 196);
}

.tasks_div .right .right_header .icon:hover {
    background-color: #7376d6;
}

.tasks_div .right .right_header h3{
    font-weight: 900;
    color: white;
    margin-left: 20px;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    background-color: #494db2;
    padding: 10px;
    cursor: pointer;
}

.add button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-weight: 900;
    margin-left: 10px;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.36);
}

/* Responsive */

@media (max-width: 900px) and (min-width: 600px) {
    .tasks_div .right .right_header .search input {
        width: 100px;
    }
}


@media (max-width: 600px) {
    .welcome h1 {
        font-size: 16pt;
    }
    .tasks_div .left {
        padding: 5px;
        font-size: 10pt;
    }
    .tasks_div .right {
        padding: 5px;
    }
    .tasks_div .right .right_header .title {
        font-size: 10pt;
        margin-bottom: 10px;
    }
    .tasks_div .right .right_header .title .icon {
        width: 40px;
        height: 40px;
    }
    .tasks_div .right .right_header {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    
}
